.host {
  padding: 20px 10px;

  text-decoration: none;

  border-radius: 6px;

  transition: all 0.2s ease-in;
}

.host:hover {
  /* background-color: hsla(210, 10%, 94%, 0.4); */
  /* background: linear-gradient(
      45deg,
      hsla(153, 40%, 96%, 0.5) 0%,
      hsla(165, 31%, 98%, 0.5) 100%
    ); */
  background-color: hsla(200, 10%, 90%, 0.2);
}

.title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: hsla(200, 22%, 13%, 1);
}

.description {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: hsla(212, 8%, 62%, 1);
}
