@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: #454545;
    color: #F4F4F4;

    .dark-mode-toggle > button {
        background-color: #F4F4F4;
    }

    .navLink {
        color: #F4F4F4;
    }

    .socialMedia {
        fill: #F4F4F4;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.socialMedia {
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin-left: 50px;
}