@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0px;
  font-size: 16px;
}

body.light-mode {
  background-color: #f4f4f4;
  color: #454545;

  a {
    color: #454545;
  }

  .navLink {
    color: #454545;
    transition: color 0.4s ease-in-out;
  }

  .navLink:hover {
    color: #454545e6;
  }

  .socialMedia {
    fill: #454545;
    transition: fill 0.4s ease-in-out;
  }

  .socialMedia:hover {
    fill: #454545e6;
  }

  .shadowBox {
    background-color: #454545;
    color: #f4f4f4;
    transition: background-color 0.4s ease-in-out;
  }

  .shadowBox:hover {
    background-color: #454545e6;
  }
}

body.dark-mode {
  background-color: #454545;
  color: #f4f4f4;

  a {
    color: #f4f4f4;
  }

  .dark-mode-toggle > button {
    background-color: #f4f4f4;
  }

  .navLink {
    color: #f4f4f4;
    transition: color 0.4s ease-in-out;
  }

  .navLink:hover {
    color: #f4f4f4e6;
  }

  .socialMedia {
    fill: #f4f4f4;
    transition: fill 0.4s ease-in-out;
  }

  .socialMedia:hover {
    fill: #f4f4f4e6;
  }

  .shadowBox {
    background-color: #f4f4f4;
    color: #454545;
    transition: background-color 0.4s ease-in-out;
  }

  .shadowBox:hover {
    background-color: #f4f4f4e6;
  }
}

.dark-mode-toggle > button {
  background-color: #454545;
  border: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

p,
ol {
  line-height: 32px;
}

.socialMedia {
  width: 32px;
  height: 32px;
  text-decoration: none;
  margin-left: 50px;
}

@media (max-width: 415px) {
  .socialMedia {
    margin-left: 0px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}
