@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

html {
    background-color: #454545;
    font-family: 'Noto Sans JP', sans-serif;
    color: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}