@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0px;
  font-size: 16px;
}

body.light-mode {
  background-color: #f4f4f4;
  color: #454545;

  a {
    color: #454545;
  }

  .navLink {
    color: #454545;
  }

  .socialMedia {
    fill: #454545;
  }
}

body.dark-mode {
  background-color: #454545;
  color: #f4f4f4;

  a {
    color: #f4f4f4;
  }

  .dark-mode-toggle > button {
    background-color: #f4f4f4;
  }

  .navLink {
    color: #f4f4f4;
  }

  .socialMedia {
    fill: #f4f4f4;
  }
}

.dark-mode-toggle > button {
  background-color: #454545;
  border: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

p,
ol {
  line-height: 32px;
}

.socialMedia {
  width: 32px;
  height: 32px;
  text-decoration: none;
  margin-left: 50px;
}
