.host {
  padding: 125px 0px;
}

.paragraph {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: hsla(200, 22%, 13%, 1);
}

.paragraph a {
  color: hsla(200, 22%, 13%, 1);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 3px;

  transition: all 0.2s ease-in;
}

.paragraph a:hover {
  color: hsla(212, 8%, 62%, 1);
}
