.host {
  padding: 125px 0px;
}

.postsWrapper {
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .host {
    padding: 20px 0px 80px;
  }
}
