@value colors: './colors.css';
@value bone from colors;

.host {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 150px auto;
  grid-gap: 2px;
}

.host div {
  background-color: bone;
}

.descriptionContainer {
  padding: 90px;
}

.descriptionContainer p {
  font-size: 37px;
  margin-bottom: 20px;
}

.postContainer {
  padding: 60px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.postCTA {
  font-size: 25px;
  margin-bottom: 20px;
}

.postTitle {
  margin: 0px;

  font-size: 50px;
  line-height: 80px;
}

@media screen and (max-width: 1500px) {
  .host {
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
  }

  .descriptionContainer {
    padding: 45px;
  }

  .descriptionContainer p {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .postContainer {
    padding: 30px;
  }

  .postCTA {
    font-size: 18px;
  }

  .postTitle {
    font-size: 35px;
    line-height: 65px;
  }
}
