/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/inter-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/inter-v7-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/inter-v7-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/inter-v7-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/inter-v7-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/inter-v7-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/inter-v7-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/inter-v7-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/inter-v7-latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/inter-v7-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('../public/fonts/inter-v7-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/inter-v7-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: 'Inter';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: hsla(200, 22%, 13%, 1);
  font-weight: 400;
}

html {
  background: linear-gradient(
    45deg,
    hsla(153, 22%, 90%, 1) 0%,
    hsla(165, 31%, 95%, 1) 100%
  );

  /* background: linear-gradient(-45deg, #e0ebe6, #dbf3ed, #cef5eb, #aaecdc);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite alternate-reverse; */
}
/* 
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

body {
  /* position: relative; */

  margin: 20px;

  /* height: calc(100vh - 40px);
  width: calc(100vw - 40px);

  overflow: scroll; */

  background-color: hsla(0, 0%, 99%, 1);

  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

hr {
  border: 0;
  margin: 0;
  height: 1px;
}

pre div,
pre div code {
  background-color: hsla(0, 0%, 97%, 1) !important;
}
