@value colors: './colors.css';
@value bone from colors;

.host {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 150px auto;
  grid-gap: 2px;
}

.host div {
  background-color: bone;
}

.content {
  padding: 45px 200px;

  overflow-y: scroll;
}

@media screen and (max-width: 1500px) {
  .host {
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
  }
}
